@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ------------------------- Base ------------------------------- */
:root{
    --gray-primary: #4a4a4a29;
    --gray-secundary: #878787;
    --black:#000;
    --white:#fff;
    --neomor:#E5EBF7;
}
body
{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-size: cover; 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1280' height='720' preserveAspectRatio='none' viewBox='0 0 1280 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1280' height='720' x='0' y='0' fill='%231a4e83'%3e%3c/rect%3e%3cpath d='M0 0L801.11 0L0 824.42z' filter='url(%23SvgjsFilter1003)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M0 720L801.11 720L0 -104.41999999999996z' filter='url(%23SvgjsFilter1003)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1280 720L478.89 720L1280 -104.41999999999996z' filter='url(%23SvgjsFilter1003)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1280 0L478.89 0L1280 824.42z' filter='url(%23SvgjsFilter1003)' fill='%232d409e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1280' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cfilter height='130%25' id='SvgjsFilter1003'%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='-5' in='TopLeftG' result='TopLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopLeftO' result='TopLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='-5' in='TopRightG' result='TopRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopRightO' result='TopRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='5' in='BottomLeftG' result='BottomLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomLeftO' result='BottomLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='5' in='BottomRightG' result='BottomRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomRightO' result='BottomRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeMerge%3e%3cfeMergeNode in='TopLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='TopRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
}
form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
li
{
    list-style: none;
}
.containerLoad{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: var(--black);
    z-index: 10;
    width: 100%;
    height: 100%;
}
.loader 
{
    display: flex;
    align-items: center;
    
}

.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}
/* ------------------------- estilos ------------------------------- */
header
{
    min-width: 50rem;
    height: 15rem;
    border: 1px solid var(--gray-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(214, 214, 214, 0.16);
    border-radius: .5rem ;
    backdrop-filter: blur(1rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%232e409e' fill-opacity='0.09' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
}
.input-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 3rem;
    border-radius: 15px;
    background-color:var(--white);
    box-shadow: 6px 6px 12px #03030322,
                -6px -6px 12px #00000036;
    position: relative;
    overflow: hidden;
}
.input-box .input
{
    font-size: 1em;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 2rem;
    z-index: 2;


}
.input:focus ~ span,
.input:valid ~ span
{
    transform: translateY(-30%) ;
    opacity: 0;
}
.input-box span
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    z-index: 1;
    transition:  .5s;
    
}
.addItem
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 2.5rem;
    border-radius: 1rem;
    margin: 1rem 0;
    border: none;
    transition: .5s;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--white);
    background: #178CE8;
}
.addItem:hover
{
    cursor: pointer;
    transform:scale(.98);
}


main
{
    min-width: 50rem;
    height: 30rem;
    border-radius: 0 0 .5rem  .5rem ; 
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
}
.containerList
{
    width: 100%;
    height: 100%;

}
.contentCard
{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin: .5rem 0;
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    background: var(--neomor);
    box-shadow: inset 5px 5px 10px #cccccc,
    inset -5px -5px 10px #f4f4f4;
    overflow: hidden;
    transition: .2s;
}
.contentCard.checkItem
{
    background:rgb(8, 137, 79); ;
    box-shadow: none;
    opacity: .8;
}
.contentCard.active
{
    background: rgb(239, 115, 0);
    box-shadow: none;
}
.contentText
{
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    color: var(--black);
    border: none;
    outline: none;
    background:transparent ;
    transition: all .5s;
    font-size: 1em;
/* 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%232e409e' fill-opacity='0.09' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
.contentText.active
{
    width: 95%;
    z-index: 4;
}
.hide
{
    display: none;
}
.line-through
{
    text-decoration: line-through;
    font-weight: 700;
}

.delete, .edit, .check
{
    width: 5%;
    margin: 0 .5rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;  
}
.contentText.active .edit
{
    right: 0;
    height: 100%;
}
.delete::before, .check::before,.edit::before
{
    font-family: fontAwesome;
    color: var(--black);
    font-size: 1.5em;
}
.delete::before
{
    content: '\f1f8';
}
.check::before
{
    content: '\f14a';
}
.edit::before
{
    content: '\f044';
}
.delete:hover
{
    background: rgba(231, 81, 81, 0.426);
}
.check:hover
{
    background: rgba(41, 235, 138, 0.426);
}
.edit:hover
{
    background: rgba(203, 190, 8, 0.628);
}
.contentText.active ~ .edit:hover
{
    background: rgba(17, 178, 98, 0.452);
}
